In [1]:
from sqlalchemy import create_engine
import pandas as pd

from dotenv import load_dotenv
import os

In [2]:
# Load environment variables from the specified .env file
env_path = "C:/Users/Dudo/Desktop/streamlit-example/.env.txt"
load_dotenv(env_path)

True

In [3]:
server = os.getenv('DB_SERVER1')
database = os.getenv('DB_DATABASE1')
username = os.getenv('DB_USERNAME1')
password = os.getenv('DB_PASSWORD1')
driver = "ODBC Driver 18 for SQL Server"

print(username)

jurajkret

In [4]:
# Connection string
connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}'


# Debugging: print connection string
print(f"Connection String: {connection_string}")

Connection String: mssql+pyodbc://jurajkret:Smetisko123@thestreetfoodclub.database.windows.net/BlockD?driver=ODBC Driver 18 for SQL Server

In [7]:
# Create SQLAlchemy engine
try:
    engine = create_engine(connection_string)
    # Test the connection
    with engine.connect() as conn:
        print("Connection to database successful!")

    # Load the sample dataset
    dataset = pd.read_csv("D:/BUAS/Year 2/Block 2D/Block-D-Personal/Programming/emotion_classification_dataset_sample.csv")

    # Export dataset to Azure SQL Database
    dataset.to_sql('Sample1', engine, if_exists='replace', index=False)
    print("Dataset has been successfully exported to the database!")
except Exception as e:
    print(f"An error occurred: {e}")

Connection to database successful!
Dataset has been successfully exported to the database!

In [6]:
dataset.head()

                                      Sentence Emotion
0                    I am so happy to see you!   Happy
1  I can't believe this happened, I am so sad.     Sad
2                  This makes me really angry!   Angry
3                     I'm so scared right now.  Scared
4           I'm feeling very calm and relaxed.    Calm